<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= recipe.name %> - Détails de la Recette</title>
    <link rel="stylesheet" href="/assets/styles/_global.css"> <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/styles/recipeDetails.css">  <!-- Specific CSS for recipe details -->
</head>
<body>
    <%- include('components/header') %>

    <h1><%= recipe.name %></h1>

    <div class="recipe-detail">
        <img src="<%= recipe.image %>" alt="Image de <%= recipe.name %>" class="recipe-image-detail">
        
        <h2>Description</h2>
        <p><%= recipe.description %></p>

        <h2>Temps de préparation : <%= recipe.prep_time %> minutes</h2>
        <h2>Temps de cuisson : <%= recipe.cook_time %> minutes</h2>
        <h2>Portions : <%= recipe.servings %></h2>

        <h2>Ingrédients</h2>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li><%= ingredient.quantity %> <%= ingredient.unit %> de <%= ingredient.name %></li>
            <% }); %>
        </ul>

        <h2>Instructions</h2>
        <pre><%= recipe.instructions %></pre> <!-- Afficher les instructions formatées -->
    </div>

    <%- include('components/footer') %>
</body>
</html>
